/* app style*/

body {
  background-color: black;
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: start;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 1024px;
  width: 600px;
}

#calendar-iframe {
  filter: invert(100%);
}

div.container-lg.weather-app {
  display: block;
  margin: 0 auto;
  background-color: black;
  width: 600px;
}

/*current city forecast*/
div.current-location {
  padding: 15px 0;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
}

div.col.current-city {
  padding-left: 45px;
  line-height: 40px;
}

div.current-location-details {
  font-size: 15px;
  padding-top: 20px;
  line-height: 25px;
}

.city {
  font-size: 22px;
}

.temp {
  font-weight: 700;
  font-size: 50px;
}

.units {
  position: relative;
  top: -20px;
}

a {
  text-decoration: none;
}

/* five days forecast */
div.five-days-forecast {
  display: block;
  margin: 0 auto;
  padding-left: 10px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.high-low {
  padding-left: 10px;
}

:modal {
  background-color: black;
  color: white;
  border-radius: 25px;
  border: solid 1px white;
  text-align: center;
  width: 550px;
}

.modal-day {
  font-size: 30px;
}

.modal-text {
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.loading-screen {
  margin-top: 250px;
}

.current-weather {
  width: 80px;
  position: absolute;
  top: 34px;
  left: 135px;
}